#align-logoChamps{
    display: flex;
    justify-content: center;
}
.align-arrow{
    position: fixed;
    top: 10%;
    left: 20px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid white;
    z-index: 1000;
    transition: opacity 0.3s ease;
}
.align-arrow img{
    height: auto;
}
.align-arrow a{
    height: 32px;
}
#h2-champs{
    color: #FF8C00;
    font-family: 'DM SANS';
    text-align: center;
    font-size: 26px;
}
.posicoes{
    text-align: center;
    font-size: 21px;
}
#roles{
    text-align: center;
    margin-bottom: 15px;
}

#roles img{
    padding: 0 6px;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap: 10px;
    justify-items: center;
    margin-bottom: 110px
}

.champions-img{
    width: 180px;
}
#back-to-top {
    position: fixed;
    bottom: 114px; 
    right: 20px; 
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid white;
    z-index: 1000;
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease-in-out;
}

#back-to-top img {
    height: auto;
    transform: rotate(-270deg);
}
#back-to-top.show {
    opacity: 1;
}