@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700&display=swap');
body{
    background-color: black;
}
button{
    font-family: 'DM Sans';
    width: 104px;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    padding: 6px;
    border-radius: 4px;
}
#btn-1{
    color: white;
    background-color: #FF8C00;
}
#btn-2{
    color: black;
    background-color: white;
}
#align-logoChamps{
    display: flex;
    justify-content: center;
}
.champions-img {
    width: 180px;
}
.desc-nome {
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 148px;
    color: white;
}
.desc-titul {
    font-family: "Inter";
    font-weight: 400;
    opacity: 60%;
    margin: 0;
    font-size: 15px;
    max-width: 148px;
    color: white;
}
.align-arrow{
    position: fixed;
    top: 10%;
    left: 20px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid white;
    z-index: 1000;
    transition: opacity 0.3s ease;
}
.align-arrow img{
    height: auto;
}
.align-arrow a{
    height: 32px;
}
#desc-pag{
    font-family: 'inter';
    text-align: center;
    color: white;
}
#h2-champs{
    color: #FF8C00;
    font-family: 'DM SANS';
    text-align: center;
    font-size: 26px;
}
#display-btns{
    display: flex;
    justify-content: center;
}
#align-btns{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}
#roles img{
    padding: 0 6px;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap: 10px;
    justify-items: center;
    margin-bottom: 110px
}

.champions-img{
    width: 180px;
}
#back-to-top {
    position: fixed;
    bottom: 114px; 
    right: 20px; 
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid white;
    z-index: 1000;
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease-in-out;
}

#back-to-top img {
    height: auto;
    transform: rotate(-270deg);
}
#back-to-top.show {
    opacity: 1;
}